
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#top_slice {
  height: 10vh;
  display: flex;

  border-bottom: 1px solid black;

  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

h1 {

  float: left;
  font-size: 60px;

  margin: 0;
  padding-bottom: 10px;
  flex: 1;
}




h2 {
  font-size: 70px;
  color: white;
}


.menu_div {
  border-radius: 25%;
  margin: 20px;
  position: relative;
  margin-bottom: 10px;
  display: flex;  
  flex: 2;
  position: absolute;
  right: 10px;
}


.menu_div ul {
  padding: 0;
}



.menu_div ul li {
  float: left;
  list-style: none;
  padding: none;
  flex-wrap: wrap;
  padding-right: 5px;
  

}


.menu_div ul li a {
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 7px;

  text-decoration: none;
  -webkit-box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 1);
  transition: padding 0.3s ease;
  
}

.menu_div ul li a:hover {
  padding: 7px;
}



#Portofino_night_water {
  margin-top: 30px;
  background-image: url("../img/Portofino_night_water.webp");
  padding-top: 20px;
  height: 70vh;
  width: 100%;
  flex-wrap: wrap;
  
}

#audio {
  padding-top: 50px;
}

.left {
  width: 49%;
  float: left;
  display: flex;
}

.right {
  width: 49%;
  float: right;
  display: flex;
}


#bottom {
  display: flex;
}

#right_two {
  background-image: url(../img/portof_day.jpg);
  display: flex;
}

#general_info {
  margin: 10px;
  height: auto;
  background-color:bisque;
  display: flex;
  flex-wrap: wrap;  
}


h3 {
  padding: 5px;
  font-size: 30px;
  margin-left: 20px;
}
#ff_list li {
  padding-bottom: 20px;
}

#pesto {
  margin-top: 20px;
  background-image: url(../img/ai_pasta.avif);
  background-size: cover;
  height: 100vh;
}

#middle {
  background-image: url(../img/snorkel.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: 10px;
}
